<div id="titulo1"> 
    <p id="conv1" class="text-center text-secondary">CONOCE A LOS</p>
    <h3>ORADORES</h3>
</div>
<!-- inicio cards -->
<div id="Oradores" class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="../img/bjarne-stroustrup.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bjarne Stroustrup</h5>
                    <span class="badge bg-warning text-dark">C#</span>
                    <span class="badge bg-info ">React</span>
                    <p class="card-text">                    
                        Ha destacado por desarrollar el lenguaje de programación C++.
                        "Inventé C++, escribiendo sus primeras definiciones, y produciendo la primera implementación... elegí y formulé los criterios de diseño para C++, confeccioné también sus principales utilidades, y fui responsable de elaborar extensas proposiciones en el comité de estándares de C++.""
                        Stroustrup escribió también el considerado por muchos como el texto introductorio de referencia para el lenguaje, su título original es The C++ Programming Language, el cual alcanza actualmente su cuarta edición. Existe una versión especial editada en 2000, aunque no figuran en ella cambios significativos respecto al original. Este último texto ha sido revisado tanto para reflejar la evolución del lenguaje, como el trabajo del comité de estándares de C++.
                        Stroustrup es un cand. scient. en matemáticas y ciencias de la computación (1979) por la Universidad de Aarhus, Dinamarca.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../img/Douglas-McIlroy.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Douglas McIlroy</h5>
                    <span class="badge bg-warning text-dark">Javascript</span>
                    <span class="badge bg-info ">Fortran</span>
                    <p class="card-text">Consiguió su título de licenciado físico ingeniero en la Universidad de Cornell (Nueva York) en 1954, y doctorado en Filosofía en Matemáticas Aplicadas por el MIT en 1959, con su tesis On the Solution of the Differential Equations of Conical Shells (Solucionando las ecuaciones diferenciales en conchas cónicas).
                        Ingresó en los laboratorios Bell en 1958, jefe de estudios en su departamento de Técnicas de Computación (lugar de nacimiento del sistema Unix), nombrado a partir de ese momento como Miembro Honorífico del cuadro Técnico.
                        Se retiró de los laboratorios Bell en 1997.
                        Actual miembro de la Academia de Ingeniería, ganador de "La llama", otorgada por el grupo de usuarios de UNIX USENIX, y su premio a las Herramientas Software. Anteriormente trabajando para la Association for Computing Machinery, como conferenciante, presidente del premio Turing... Es también miembro activo en el comité ejecutivo del CSNET.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../img/Brian_Kernighan.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Brian Kernighan</h5>
                    <span class="badge bg-secondary ">Javascript</span>
                    <span class="badge bg-danger ">Pipelines</span>
                    <p class="card-text">Conocido por la coautoría del libro El lenguaje de programación C. Trabajó en los Laboratorios Bell junto con Ken Thompson y Dennis Ritchie, donde ayudó en el desarrollo del sistema operativo Unix, programando utilidades como ditroff. Kernighan recibió su licenciatura en física e ingeniería en la Universidad de Toronto. Se doctoró en ingeniería eléctrica por la Universidad de Princeton, donde desde 2000 es profesor de ciencias de la computación.
                        Aunque prefiere el lenguaje C a cualquier otro (dijo que si tuviera que llevarse un lenguaje de programación a una isla desierta, tendría que ser C) Kernighan niega cualquier contribución suya en su diseño, acreditando su autoría total a Dennis Ritchie ("es enteramente obra de Dennis Ritchie"). No obstante contribuyó en la creación de otros lenguajes como AWK y AMPL. La "K" de las letras K&R con las que se conoce su libro más famoso, y la "K" de AWK derivan de "Kernighan".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fin cards -->