<div id="titulo1"> 
    <p id="conv1" class="text-center text-secondary">CONOCE A LOS</p>
    <h3>ORADORES</h3>
</div>
<!-- inicio cards -->
<div id="Oradores" class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="https://pablomandile.com.ar/webdev/capacitacion/codoacodo/04JS_AO/img/steve.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Steve Jobs</h5>
                    <span class="badge bg-warning text-dark">Javascript</span>
                    <span class="badge bg-info ">React</span>
                    <p class="card-text">Fundó Apple en 1976 junto con un amigo de la adolescencia, Steve Wozniak, con ayuda del excompañero de Jobs en Atari, Ronald Wayne, en el garaje de su casa. Ayudado por el éxito del Apple II, Jobs obtuvo una gran relevancia pública, siendo portada de Time en 1982.14​ Contaba 26 años y ya era millonario gracias a la exitosa salida a bolsa de la compañía a finales del año anterior. La década de los 80 supuso la entrada de potentes competidores en el mercado de los ordenadores personales, lo que originó las primeras dificultades empresariales.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://pablomandile.com.ar/webdev/capacitacion/codoacodo/04JS_AO/img/bill.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bill Gates</h5>
                    <span class="badge bg-warning text-dark">Javascript</span>
                    <span class="badge bg-info ">React</span>
                    <p class="card-text">Es uno de los empresarios más conocidos que surgieron durante los inicios de los ordenadores personales. Ha sido criticado por sus tácticas de negocios, que han sido consideradas anticompetitivas, una opinión que en algunos casos ha sido mantenida por numerosas sentencias judiciales.5​

                        Estuvo casado con Melinda Gates,1​ con quien comparte la presidencia de la Fundación Bill y Melinda Gates, dedicada a reequilibrar oportunidades en salud y educación a nivel local, aunque también ha participado en otros países.​</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://pablomandile.com.ar/webdev/capacitacion/codoacodo/04JS_AO/img/ada.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ada Lovelace</h5>
                    <span class="badge bg-secondary ">Javascript</span>
                    <span class="badge bg-danger ">React</span>
                    <p class="card-text">Lovelace fue la única hija legítima del poeta lord Byron y su esposa lady Byron. Byron se separó de su esposa un mes después del nacimiento de Ada y dejó Inglaterra para siempre cuatro meses después. Conmemoró la despedida en un poema que comienza: "¿Es tu rostro como el de tu madre, mi bella hija? ¡ADA! Hija única de mi casa y mi corazón".4​ Murió en la Guerra de independencia de Grecia cuando Ada tenía ocho años.

                        Dedujo y previó la capacidad de los ordenadores para ir más allá de los simples cálculos de números.​</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fin cards -->