<!-- inicio carrusel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div id="img1" class="carousel-item active"></div>
        <div id="img2" class="carousel-item"></div>
        <div id="img3" class="carousel-item"></div>
        <div id="img4" class="carousel-item"></div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- fin carrusel -->
<!--inicio texto flotante en carrusel -->
<div class="llamadaAccion">
    <h2 class="title">CONF BSAS</h2>
    <p>CONF BSAS llega por primera vez a Argentina. Un evento para compartir con nuestra comunidad en conocimiento y la experiencia de los expertos que están creando el futuro de internet. Ven a conocer a miembros del evento, a otros estudiantes de codo a codo y a los oradores de primer nivel que tenemos para ti. Te esperamos!</p>
    <button type="button" id="btnOrador" class="btn btn-secondary mid">Quiero ser orador</button>
    <button type="button" id="btnTickets" class="btn btn-success">Comprar tickets</button>
</div>
<!--fin texto sobrepuesto en carrusel-->