<section id="sect1" class="container-fluid">
    <!-- inicio de imagen y texto-->
            <div id="Lugar" class="row">
                <div id="honopic" class="col-12 col-md-6 col-lg-6 border">
                </div>
                <div id="cajatexto" class="col-12 col-md-6 col-lg-6 border">
                    <h3 class="text-white pt-4 mt-5 ms-2">CENTRO DE CONVENCIONES BUENOS AIRES</h3>
                    <h6 class="text-white pt-4 mt-5 ms-2">Av. Figueroa Alcorta 2099</h6>
                    <p class="text-white ms-2">Nace con el objetivo de posicionarse entre los centros de convenciones más importantes de América Latina y de consolidar a Buenos Aires como destino para el turismo de reuniones.

                        En el corazón de Recoleta ubicado en Avenida Figueroa Alcorta 2099, entre el parque Thays y la Plaza Brasil, es una de las obras más importantes en los últimos años de la Ciudad de Buenos Aires.
                        
                        El proyecto estuvo a cargo del arquitecto Edgardo Minond, y su diseño responde a criterios sustentables.</p>
                    <button type="button" id="btnInfo" class="btn btn-outline-secondary text-white border-light ms-2">
                        <a class="nav-link text-white" href="http://www.cecbuenosaires.com.ar/" target="blank">Conoce Más</a></button>
                </div>
            </div>
        </section>
    <!-- fin de imagen y texto-->
    

