<section id="sect1" class="container-fluid">
    <!-- inicio de imagen y texto-->
            <div id="Lugar" class="row">
                <div id="honopic" class="col-12 col-md-6 col-lg-6 border">
                </div>
                <div id="cajatexto" class="col-12 col-md-6 col-lg-6 border">
                    <h3 class="text-white pt-4 mt-5 ms-2">Bs As - Octubre</h3>
                    <p class="text-white ms-2">Buenos Aires es una ciudad cosmopolita y un importante destino turístico.21​22​ Su compleja infraestructura la convierte en una de las metrópolis de mayor importancia en América y es una ciudad global de categoría alfa,23​ dadas sus influencias en el comercio, finanzas, moda, arte, gastronomía, educación, entretenimiento y principalmente en su marcada cultura.24​25​ Según un estudio de calidad de vida (2016) de Mercer Human Resource Consulting la ciudad se encuentra en la posición 93 a nivel mundial y segunda de América Latina tras Montevideo.26​ Su renta per cápita es de las más altas de la región.27​28​ 
                        Es considerada una de las 25 ciudades más influyentes del mundo.29​
                        Su perfil urbano es marcadamente ecléctico. Se mezclan los estilos colonial español, art decó, art nouveau, neogótico, italianizante, francés borbónico y academicismo francés. Por esto último sumado a su desarrollo edilicio y marcada influencia europea en su arquitectura en determinadas zonas, es que se la conoce en el mundo por el apodo de «La París de América».30​</p>
                    <button type="button" id="btnInfo" class="btn btn-outline-secondary text-white border-light ms-2">
                        <a class="nav-link text-white" href="https://es.wikipedia.org/wiki/Buenos_Aires">Conoce Más</a></button>
                </div>
            </div>
        </section>
    <!-- fin de imagen y texto-->