<section id="sect1" class="container-fluid">
    <!-- inicio de imagen y texto-->
            <div id="Lugar" class="row">
                <div id="honopic" class="col-12 col-md-6 col-lg-6 border">
                </div>
                <div id="cajatexto" class="col-12 col-md-6 col-lg-6 border">
                    <h3 class="text-white pt-4 mt-5 ms-2">CENTRO DE CONVENCIONES BUENOS AIRES</h3>
                    <h6 class="text-white pt-4 mt-5 ms-2">Av. Figueroa Alcorta 2099</h6>
                    <p class="text-white ms-2">El Centro de Convenciones se inauguró en septiembre de 2017 y es una de las obras más importantes en los últimos años de la Ciudad de Buenos Aires. Se caracteriza por su calidad edilicia, la originalidad arquitectónica y la versatilidad de sus espacios interiores libres de columnas.

                        Tiene capacidad para 5000 personas aproximadamente, con una sala plenaria y una sala auxiliar, oficinas, lugares para reuniones y un vestíbulo de 1.600 m². Consta de tres niveles subterráneos para prolongar el paisaje del predio entre la Facultad de Derecho de la UBA y el Parque Thays. En total, tiene un parque exterior de 18 mil metros cuadrados.
                        
                        La sustentabilidad como prioridad
                        Además de preservar el espacio verde y los árboles añosos, el Centro fue construido desde una perspectiva sustentable, con iluminación que permite ahorrar luz eléctrica, el riego que se hace con agua de lluvia y paneles solares en el exterior. Ubicado estratégicamente en el corazón de Recoleta, tiene un fácil acceso a través de diferentes líneas de colectivo, bicicletas públicas o personales, la futura estación de subte (Línea H) y un amplio estacionamiento para autos particulares.</p>
                    <button type="button" id="btnInfo" class="btn btn-outline-secondary text-white border-light ms-2">
                        <a class="nav-link text-white" href="http://www.cecbuenosaires.com.ar/" target="blank">Conoce Más</a></button>
                </div>
            </div>
        </section>
    <!-- fin de imagen y texto-->
    

