    <!-- inicio piedepágina  --> 
    <footer>
        <div id="foot" class="row fixed-bottom p-0 m-0" >
            <ul class="nav justify-content-around align-items-center">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Preguntas frecuentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Contáctanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Prensa</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Conferencia</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Términos y condiciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Privacidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Estudiantes</a>
                </li>
            </ul>
        </div>
        </footer>
    <!-- fin piedepágina  --> 