<!-- inicio enviodatos  -->
<div id="formorador" class="container mt-5">
    <div id="titulo1"> 
        <p  class="text-center text-secondary">CONVIÉRTETE EN UN</p>
        <h3>SPONSOR</h3>
        <p  class="text-center">Anótate como <span id="subrayado"><a href="#staticBackdrop" data-bs-toggle="modal" data-bs-target="#staticBackdrop">sponsor</a></span> del evento 
        y obtiene pases VIP para todas las charlas y workshops para 3 personas!</p>
    </div>
    <form id="datosorador">
        <div class="row mt-3 mb-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido" required>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col">
                <input type="email" class="form-control" placeholder="Email" aria-label="Correo" required>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col">
                        <input type="text" class="form-control" placeholder="Telefono" aria-label="Telefono" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Empresa" aria-label="Empresa" required>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <p>Informanos quienes serán los participantes que serán VIP</p>
            <div class="col">
                <input type="text" class="form-control" placeholder="Nombre y apellido" aria-label="Vip1" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Nombre y apellido" aria-label="Vip2" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Nombre y apellido" aria-label="Vip3" required>
            </div>
        </div>
        <p>Elige el tipo de sponsor</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="sponsorPlata">
            <label class="form-check-label" for="inlineRadio1">SPONSOR PLATA</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="sponsorOro">
            <label class="form-check-label" for="inlineRadio2">SPONSOR ORO</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2">Dejanos un comentario</label>
        </div>
        <p id="conv3" class="text-secondary fs-6 mb-2">Las credenciales llegarán por correo en 5 días hábiles</p>
        <button id="bt-submit" type="submit" class="btn btn-primary mb-4">Enviar</button>
    </form>
</div>
<!-- inicio Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Requisitos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h1>¿Cómo ser sponsor del evento?</h1>
            <p>Los patrocinadores son una pieza fundamental para el desarrollo de eventos, congresos y convenciones. Por ello, aquí te contamos qué es un sponsor y, además, te damos algunos ejemplos originales para triunfar en el encuentro.</p>
            <h1>Requisitos para ser patrocinante</h1>
            <p>Puede ser patrocinante toda persona física o jurídica de carácter privado en sedes, instalaciones, programas y/o eventos públicos del Sector Privado de Tecnología de Buenos Aires.</p>
        <a href="https://es.wikipedia.org/wiki/Patrocinio_(publicidad)" target="new"><h6>Más información...</h6></a>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendido</button>
        </div>
    </div>
    </div>
</div>
<!-- fin Modal -->
<!-- fin enviodatos  -->