<!-- inicio enviodatos  -->
<div id="formorador" class="container mt-5">
    <div id="titulo1"> 
        <p  class="text-center text-secondary">CONVIÉRTETE EN UN</p>
        <h3>ORADOR</h3>
        <p  class="text-center">Anótate como orador para dar una <span id="subrayado"><a href="#staticBackdrop" data-bs-toggle="modal" data-bs-target="#staticBackdrop">charla ignite</a></span>. Cuéntanos de qué
            quieres hablar!</p>
    </div>
    <form id="datosorador">
        <div class="row mt-3 mb-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido">
            </div>
        </div>

        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2">Sobre qué quieres Hablar?</label>
        </div>
        <p id="conv3" class="text-secondary fs-6 mb-2">Recuerda incluir un título para tu charla</p>
        <button id="bt-submit" type="submit" class="btn btn-success mb-4">Enviar</button>
    </form>
</div>
<!-- inicio Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Charla Ignite</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h1>Qué es una presentación Ignite</h1>
        <p>El formato Ignite consiste en una presentación de la idea central de un proyecto o visión en cinco minutos. Es un formato parecido al PechaKucha. Durante los 5 minutos de una presentación Ignite se exponen 20 transparencias o diapositivas para apoyar el discurso. Cada diapositiva tiene una duración de 15 escasos segundos por lo que la claridad es fundamental. 

            La gran diferencia de la presentación Ignite respecto a otros formatos de presentación rápida es que tiene como objetivo contar una historia, una idea o visión que no tiene que ser necesariamente un proyecto empresarial, como sí que suele suceder con otros formatos.</p>
            <a href="https://www.yoscoaching.com/blog/que-es-la-presentacion-ignite-y-como-se-hace-guia-de-5-pasos-para-crear-la-tuya/" target="new"><h6>Más información...</h6></a>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendido</button>
        </div>
    </div>
    </div>
</div>
<!-- fin Modal -->
<!-- fin enviodatos  -->