    <main>
        <section>
            <div id="tarjetas">
            <div class="text-center Opciones">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                      <div class="card border-primary h-100 descuento">
                        <div class="card-body" id="tarjeta1">
                          <h4 class="card-title">Estudiante</h4>
                          <p class="card-text">Tiene un descuento de:</p>
                          <p class="card-text"><h5>80%</h5></p>
                          <p class="llamada">* presentar documentación</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card border-success h-100 descuento">
                        <div class="card-body" id="tarjeta2">
                          <h4 class="card-title">Traineee</h4>
                          <p class="card-text">Tiene un descuento de:</p>
                          <p class="card-text"><h5>50%</h5></p>
                          <p class="llamada">* presentar documentación</p>
                        </div>  
                      </div>
                    </div>
                    <div class="col">
                      <div class="card border-warning h-100 descuento">
                        <div class="card-body" id="tarjeta3">
                          <h4 class="card-title">Junior</h4>
                          <p class="card-text">Tiene un descuento de:</p>
                          <p class="card-text"><h5>15%</h5></p>
                          <p class="llamada">* presentar documentación</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
            <div id="titulo1"> 
                <p id="conv1" class="text-center text-secondary">VENTA</p>
                <h2>VALOR DEL TICKET $200</h2>
            </div>
            <form class="formTickets">
                <div class="row mt-3 mb-3">
                    <div class="col">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" aria-label="input">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="apellido" placeholder="Apellido" aria-label="input">
                    </div>
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control" id="email" placeholder="Correo" aria-describedby="emailHelp">
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col">
                        <label for="cantidad"  class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" placeholder="Cantidad" aria-label="input">
                    </div>
                    <div class="col">
                        <label for="categoria"  class="form-label">Categoría</label>
                        <select class="form-select" id="categoria" aria-label="Default select example">
                            <option selected>Seleccione...</option>
                            <option value="1">Estudiante</option>
                            <option value="2">Trainee</option>
                            <option value="3">Junior</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="total" value="Total a pagar: $"  aria-label="readonly input" disabled readonly>
                </div>
                <div class="d-grid gap-2  d-md-flex justify-content-between">
                    <button type="Reset" id="btnBorrar" class="btn btn-success">Borrar</button>
                    <button type="button" id="btnResumen" class="btn btn-success">Resumen</button>
                </div>
              </form>
        </section>
    </main>